.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 120px auto 150px;
  align-items: center;
  column-gap: 30px;
}

@media screen and (max-width: 768px) {
  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}
}
