.popup__close-button {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -42px;
  right: -44px;
}

@media screen and (max-width: 618px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -41px;
    right: 0;
}
}
