.cards__like-button {
  width: 22px;
  height: 19px;
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  justify-self: flex-end;
}

.cards__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}
